body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
}

h1{
color:#333;
}

.form{
margin:20px;
}

input{
padding:10px;
margin:5px;
}

button{
padding:10px 15px;
background:#4CAF50;
color:white;
border:none;
cursor:pointer;
}

table{
margin:auto;
border-collapse:collapse;
width:60%;
background:white;
}

th,td{
border:1px solid #ddd;
padding:10px;
}